.containerall {
    width: 720px;
    height: 720px;
    margin: auto;
    border-width: thin;
    border-style: solid;
    border-color: crimson;
    display: flex;
    justify-content: space-evenly;
}

.colordiv {
    height: auto;
    width: auto;
    border-width: thin;
    border-style: solid;
    border-color: crimson;
    height: 45px;
    width: 45px;
}

.horizontalrow {
    display: flex;
    justify-content: space-evenly;
    border-width: thin;
    border-style: solid;
    border-color: crimson;
    height: 45px;
    width: 720px;
}